<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title> Form </title>
    <script src="./lib/angular.js"></script>
    <script src="./lib/ui-bootstrap-tpls-0.12.0.js"></script>
    <script src="./lib/angular-ui-router.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <!--<script src="bower_components/angular-strap/dist/angular-strap.js"></script>-->
    <!--<script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>-->

    <script src="js/app.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/Controllers/Form/form.js"></script>
    <script src="js/Controllers/TimePicker/time-picker.js"></script>

    <link rel="stylesheet" type="text/css" href="css/form.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-strap/statice/styles/main.min.css">
</head>
<body>

<!--<div ng-controller="myformController">-->

    <!--<form  name="u_form" class="form_style">-->

       <!--Name: <input type="text" name="u_name" placeholder="Enter your name" ng-model="user.name" required><br>-->

       <!--Email: <input type="email" name="u_email" placeholder="user@something.com" ng-model="user.email" required><br>-->
        <!--<span ng-show="u_form.u_email.$error.required"> What is your email address? </span>-->
        <!--<span ng-show="u_form.u_email.$error.email"> Invalid email address? </span><br>-->

        <!--Gender: <input type="radio" ng-model="user.gender" value="male" />male-->
        <!--<input type="radio" ng-model="user.gender" value="female" />female<br />-->

        <!--<input type="checkbox" name="u_agree" value="agree" ng-model="user.agree" required> I Agree :-->
        <!--<input type="text" name="u_sign" ng-model="user.sign" placeholder="User signature" ng-show="user.agree"><br>-->

        <!--<button ng-click="reset()" ng-disabled="isUnchanged(user)"> Reset </button>-->
        <!--<button ng-click="save(user)" ng-disabled="u_form.$invalid"> save </button>-->
        <!--<button ng-click="timepicker()"> TIME PICKER </button>-->

    <!--</form><br>-->

   <!--<pre> Form Result: {{user | json}}</pre>-->
    <!--<pre> Final Result: {{a | json}}</pre>-->


<!--</div>-->

<div class="well" ui-view></div>
</body>
</html>